$color-1: #80B0C5;
$color-1-l1: #B1D3E2;
$color-1-l2: #E1F0F7;
$color-1-d1: #5389A1;
$color-1-d2: #357089;

html, body {
	font-family: "Gill Sans W04 Roman", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	margin: 0;
	padding: 0;
}
body {
	background: gainsboro;
}
div .row.content-wrapper {
	padding: 0!important;
}
#content {
	padding: 0!important;
}
.bsAppContainer {
	max-width: 1228px;
	margin: 0 auto;
	background: white;
}
#bsHeader {
	width: 100%;
	padding: 0 8%;
	box-sizing: border-box;
	height: 40px;
	background-color: $color-1;
	user-select: none;
	transition: .1s;
	.bsTitle {
		display: inline-block;
		height: 100%;
		img {
			height: 40px;
			width: 353px;
		}
	}
	button {
		height: 100%;
		line-height: 100%;
		outline: none;
		display: inline-block;
		color: white;
		transition: .1s;
		background-color: $color-1;
	}
	.filterContainer {
		height: 100%;
		float: right;
		width: 50%;
		overflow: hidden;
		transition:.1s;
		text-align: right;
		.filterTitle {
			cursor: default;
		}
		.filterList {
			border: 0px solid transparent;
			box-shadow: none!important;
			padding: 0px 15px;
		}
		.filterOption {
			cursor: pointer;
			&:hover {
				background-color: $color-1-d1;
			}
			&:active {
				background-color: $color-1-d2;
			}
		}
		.filterArrow {
			margin-left: 5px;
			display: inline-block;
			transition: .1s;
			width: 0; 
			height: 0; 
			border-top: 5px solid transparent;
			border-bottom: 5px solid transparent;
			border-left: 9px solid white;
		}
		.filterActive {
			background-color: $color-1-d1;
		}
	}
	.viewOptionDiv {
		display: none;
		float: right;
		height: 100%;
		.viewList {
			border: none;
			vertical-align: top;
			box-shadow: none!important;
		}
		.viewOption {
			cursor: pointer;
			padding: 0px;
			min-width: 15px;
			&:hover {
				color: $color-1-l2;
			}
			&:active {
				color: $color-1-l1;
			}
		}
		#viewS { font-size: 75%; }
		#viewM { font-size: 125%; }
		#viewL { font-size: 175%; }
	}
}
.bsIntroText {
	text-align: center;
	margin: 15px;
	font-size: 0.9em;
	padding: 0 8%;
	&::after {
		content: "";
		width: 70%;
		display: block;
		margin: 15px auto 0;
		height: 1px;
		background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
	}
}
#yearContainer {
	padding: 0 8% 30px;
	margin: 10px auto 0;
	opacity: 1;
	transition: .1s;
	line-height: 0;
	.gridCell {
		width: (99%/8);
		display: inline-block;
		position: relative;
		padding: 1%;
		text-align: center; 
		user-select: none;
		cursor: default;
		box-sizing: border-box;
		overflow: hidden;
	}
	.yearCell {
		color: $color-1-l2;
		font-size: 150%;
		.yearNum {
			letter-spacing: 4px;
			i.icon-right-marker.icon-large{
				top: -2px;
				position: relative;
			}
		}
	}
	.visYearCell {
		color: $color-1!important;
	}
	.imgCell {
		background-color: white;
		cursor: pointer;
		.bsImg {
			max-height: 99%;
			max-width: 99%;
			box-shadow: 0 0 0 1px rgba(0,0,0,0.2);
			border-radius: 50%;
			overflow: hidden;
			transition: 0.2s;
			&:hover{
				box-shadow: 0 0 0 2px $color-1;
			}
		}
		.activeBsImg {
			box-shadow: 0 0 0 2px $color-1;
		}
	}
	.spacerCell {
		background-color: white;
		height: 10px;
		width: 10px;
		box-sizing: border-box;
		border: 1px solid $color-1;
	}
	.centreCell {
		display: inline-block;
		position: relative;
		top: 50%;
		transform: translateY(-50%);
	}
	.detailContainer {
		height: 0px;
		line-height: 1;
		width: 100%;
		background-color: $color-1-l2;
		border-top: 1px solid $color-1-l1;
		transition: all 0.2s;
		position: relative;
		overflow: hidden;
	}
	.detailContainerE {
		height: 450px;
		border-top: 1px solid $color-1-l2;
		.detailNav {
			position: absolute;
			width: 100%;
			color: $color-1;
			font-size: 1.8em;
			padding: 5px;
			box-sizing: border-box;
			user-select: none;
			.detailBtn {
				padding: 0 5px;
				cursor: pointer;
				transition: 0.2s;
				&:hover {
					color: $color-1-d1;
				}
			}
			.detailBtnNav {
				float: left;
			}
			.detailBtnClose {
				float: right;
			}
		}
		.bsImgDetail {
			max-height: 450px;
			width: 50%;
			max-width: 450px;
			padding: 30px;
			float: right;
			box-sizing: border-box;
			img {
				width: 100%;
				height: 100%;
				border-radius: 50%;
				box-shadow: 0 0 0 1px $color-1-d2 !important;
			}
		}
		.bsDataDetail {
			float: right;
			width: 50%;
			height: 100%;
			padding: 150px 20px 20px 20px;
			text-align: center;
			color: $color-1-d2;
			box-sizing: border-box;
			-webkit-font-smoothing: antialiased;
			text-shadow: rgba(0,0,0,.01) 0 0 1px;
			.bsYear {
				font-size: 5em;
				letter-spacing: 0.1em;
				padding-left: 0.1em; 
			}
			.bsName {
				padding-top: 10px;
				font-size: 2em; 
			}
		}
	}
}
#detailHeight {
	height: 450px;
	display: none;
}


@media only screen and (max-width: 980px) and (orientation:portrait) {
	#bsHeader {
		height: 95px;
		margin-bottom: 5px;
		padding: 0;
		.bsTitle {
			display: block;
			height: auto;
			width: 100%;
			margin-bottom: 5px;
			text-align: center;
			img {
				max-width: 100%;
				image-rendering: -moz-crisp-edges;
				image-rendering: -o-crisp-edges;
				image-rendering: -webkit-optimize-contrast;
				image-rendering: crisp-edges;
				-ms-interpolation-mode: nearest-neighbor;
			}
		}
		.filterContainer {
			height: 50px;
			width: 100%;
			margin-bottom: 5px; 
			.filterOption {
				font-size: 1em;
			}
			.filterTitle {
				display: none;
			}
			.filterList {
				width: 25%;
				float: left;
			}
		}
			// .bsIntroText {
			// 	&::after{
			// 		margin-bottom: 15px;
			// 	}
			// }
		}

		#yearContainer {
			width: 90%;
			padding: 0;
			.gridCell {
				width: 25%;
				padding: 2%;
				margin: 5px 0;
			}
			.yearCell {
				font-size: 120%;
			}
			.detailContainerE {
				height: 350px;
				.bsImgDetail {
					width: 50%;
				}
				.bsDataDetail {
					width: 50%;
					padding-top: 100px;
				}
			}
		}
		#detailHeight {
			height: 350px;
		}
	}

	@media only screen and (max-width: 600px) and (orientation:portrait) {
		#yearContainer {
			.detailContainerE {
				height: 420px;
				.bsImgDetail {
					display: block;
					float: none;
					padding: 20px;
					height: auto;
					width: 100%;
				}
				.bsDataDetail {
					display: block;
					float: none;
					width: 100%;
					padding-top: 0;
					height: 50px;
					.bsYear {
						font-size: 2em;
						display: inline;
						&:after {
							content: " - ";
						}
					}
					.bsName {
						display: inline;
					}
				}
			}
		}
		#detailHeight {
			height: 420px;
		}
	}