.detail {
    &__container {
        height: 0px;
        line-height: 1;
        width: 100%;
        background-color: $color-1-l2;
        border-top: 1px solid $color-1-l1;
        transition: all 0.2s;
        position: relative;
        overflow: hidden;

        &--expanded {
            height: 450px;
            border-top: 1px solid $color-1-l2;
        }
    }

    &__nav {
        position: absolute;
        width: 100%;
        color: $color-1;
        font-size: 1.8em;
        padding: 5px;
        box-sizing: border-box;
        user-select: none;
    }

    &__button {
        padding: 0 5px;
        cursor: pointer;
        transition: 0.2s;

        &:hover {
            color: $color-1-d1;
        }
        
        &__nav {
            float: left;
        }
        
        &__close {
            float: right;
        }
    }

    &__image {
        max-height: 450px;
        width: 50%;
        max-width: 450px;
        padding: 30px;
        float: right;
        box-sizing: border-box;
        
        img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            box-shadow: 0 0 0 1px $color-1-d2 !important;
        }
    }

    &__data {
        float: right;
        width: 50%;
        height: 100%;
        padding: 150px 20px 20px 20px;
        text-align: center;
        color: $color-1-d2;
        box-sizing: border-box;
        -webkit-font-smoothing: antialiased;
        text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
        
        &__year {
            font-size: 5em;
            letter-spacing: 0.1em;
            padding-left: 0.1em;
        }
        
        &__name {
            padding-top: 10px;
            font-size: 2em;
        }
    }
}

#detailHeight {
    height: 450px;
    display: none;
}

@media only screen and (max-width: $mediumWidth) {
    .detail__container--expanded {
        height: 350px;
    }

    .detail__data {
        padding-top: 100px;
    }
    
    #detailHeight {
        height: 350px;
    }
}

@media only screen and (max-width: $smallWidth) and (orientation: portrait) {
    .detail__container--expanded {
        height: 550px;
    }
    
    .detail__data {
        padding-top: 20px;
    }
    
    .detail__image {
        display: block;
        float: none;
        padding: 20px;
        height: auto;
        width: 100%;
        margin: 0 auto;
    }
    
    .detail__data {
        display: block;
        float: none;
        width: 100%;
        padding-top: 0;
        height: 50px;
        
        &__year {
            font-size: 2em;
            display: inline;
            
            &:after {
                content: " - ";
            }
        }
        
        &__name {
            display: inline;
        }
    }
    
    #detailHeight {
        height: 550px;
    }
}
