.filter {
    border: 0px solid transparent;
    box-shadow: none !important;
    padding: 0px 15px;
    
    &__container {
        height: 100%;
        float: right;
        width: 50%;
        overflow: hidden;
        transition: .1s;
        text-align: right;
    }
    
    &__title {
        cursor: default;
    }
    
    &__option {
        cursor: pointer;
        
        &:hover {
            background-color: $color-1-d1;
        }
        
        &:active {
            background-color: $color-1-d2;
        }
        
        &.filter--active {
            background-color: $color-1-d1;
        }
    }
    
    &__arrow {
        margin-left: 5px;
        display: inline-block;
        transition: .1s;
        width: 0;
        height: 0;
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        border-left: 9px solid white;
    }
}

@media only screen and (max-width: 840px) {
    .filter {
        width: 25%;
        float: left;
        
        &__container {
            height: 50px;
            width: 100%;
            margin-bottom: 5px;
        }
        
        &__option {
            font-size: 1em;
        }
        
        &__title {
            display: none;
        }
    }
}
