#bsHeader {
    width: 100%;
    padding: 0 8%;
    box-sizing: border-box;
    height: 40px;
    background-color: $color-1;
    user-select: none;
    transition: .1s;
    .bsTitle {
        display: inline-block;
        height: 100%;
        img {
            height: 40px;
            width: 353px;
        }
    }
    button {
        height: 100%;
        line-height: 100%;
        outline: none;
        display: inline-block;
        color: white;
        transition: .1s;
        background-color: $color-1;
    }
    .filterContainer {
        height: 100%;
        float: right;
        width: 50%;
        overflow: hidden;
        transition: .1s;
        text-align: right;
        .filterTitle {
            cursor: default;
        }
        .filterList {
            border: 0px solid transparent;
            box-shadow: none !important;
            padding: 0px 15px;
        }
        .filterOption {
            cursor: pointer;
            &:hover {
                background-color: $color-1-d1;
            }
            &:active {
                background-color: $color-1-d2;
            }
        }
        .filterArrow {
            margin-left: 5px;
            display: inline-block;
            transition: .1s;
            width: 0;
            height: 0;
            border-top: 5px solid transparent;
            border-bottom: 5px solid transparent;
            border-left: 9px solid white;
        }
        .filterActive {
            background-color: $color-1-d1;
        }
    }
}

@media only screen and (max-width: 840px) {
    #bsHeader {
        height: 95px;
        margin-bottom: 5px;
        padding: 0;
        .bsTitle {
            display: block;
            height: auto;
            width: 100%;
            margin-bottom: 5px;
            text-align: center;
            img {
                max-width: 100%;
                image-rendering: -moz-crisp-edges;
                image-rendering: -o-crisp-edges;
                image-rendering: -webkit-optimize-contrast;
                image-rendering: crisp-edges;
                -ms-interpolation-mode: nearest-neighbor;
            }
        }
        .filterContainer {
            height: 50px;
            width: 100%;
            margin-bottom: 5px;
            .filterOption {
                font-size: 1em;
            }
            .filterTitle {
                display: none;
            }
            .filterList {
                width: 25%;
                float: left;
            }
        }
    }
}
