.header {
    width: 100%;
    padding: 0 8%;
    box-sizing: border-box;
    height: 40px;
    background-color: $color-1;
    user-select: none;
    transition: .1s;

    &__title {
        display: inline-block;
        height: 100%;

        img {
            height: 40px;
            width: 353px;
        }

        h1 {
            display: none;
        }
    }

    button {
        height: 100%;
        line-height: 100%;
        outline: none;
        display: inline-block;
        color: white;
        transition: .1s;
        background-color: $color-1;
    }
}

@media only screen and (max-width: 840px) {
    .header {
        height: 95px;
        margin-bottom: 5px;
        padding: 0;

        &__title {
            display: block;
            height: auto;
            width: 100%;
            margin-bottom: 5px;
            text-align: center;

            img {
                max-width: 100%;
                image-rendering: -moz-crisp-edges;
                image-rendering: -o-crisp-edges;
                image-rendering: -webkit-optimize-contrast;
                image-rendering: crisp-edges;
                -ms-interpolation-mode: nearest-neighbor;
            }
        }
    }
}
